@media screen and (max-width:820px) {
    .header {
        padding: 18px 0;
    }

    .header__nav-list {
        gap: 110px;
    }

    .header__nav_icons {
        gap: 50px;
    }
}

@media screen and (max-width:700px) {
    .header {
        padding: 16px 0;
    }

    .header__nav-list {
        gap: 95px;
    }

    .header__nav_icons {
        gap: 35px;
    }
}

@media screen and (max-width:630px) {
    .header {
        padding: 14px 0;
    }

    .header__nav-list {
        gap: 70px;
    }

    .header__nav_icons {
        gap: 30px;
    }
}

@media screen and (max-width:550px) {
    .header {
        padding: 12px 0;
    }

    .header__nav-list {
        gap: 55px;
    }

    .header__nav_icons {
        gap: 20px;
    }
}

@media screen and (max-width:480px) {
    .header {
        padding: 10px 0;
    }

    .header__nav-list {
        gap: 35px;
    }

    .header__nav_icons {
        gap: 15px;
    }
}

@media screen and (max-width:400px) {
    .header {
        padding: 8px 0;
    }

    .header__nav-list {
        gap: 20px;
    }

    .header__nav_icons {
        gap: 20px;
    }
}

@media screen and (max-width:360px) {
    .header {
        padding: 6px 0;
    }

    .header__nav-list {
        gap: 10px;
    }

    .header__nav_icons {
        gap: 15px;
    }
}

@media screen and (max-width:585px) {
    .banner__content {
        gap: 50px;
    }

    .banner__content-btns {
        gap: 25px;
    }

    .banner__btn {
        padding: 23px;
    }
}

@media screen and (max-width:375px) {
    .banner__content-btns {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .banner__btn {
        padding: 20px;
        max-width: 200px;
        padding: 15px;
    }
}

@media screen and (max-width:910px) {
    .products__nav {
        gap: 90px;
    }
}

@media screen and (max-width:700px) {
    .products__nav-item::after {
        content: none;
    }

    .products__nav {
        gap: 60px;
        height: 90px;
    }
}

@media screen and (max-width:550px) {
    .products__nav-item::after {
        content: none;
    }

    .products__nav {
        gap: 40px;
        height: 80px;
    }
}

@media screen and (max-width:480px) {
    .products__nav-item::after {
        content: none;
    }

    .products__nav {
        gap: 30px;
        height: 75px;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


}

@media screen and (max-width:400px) {
    .products__nav-item::after {
        content: none;
    }


}

@media screen and (max-width:360px) {
    .products__nav-item::after {
        content: none;
    }

    .products__nav {
        gap: 15px;
        height: 55px;
    }
}

@media (max-width: 700px) {
    .products__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        padding: 0 10px;
    }

    .products__card {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .products__wrap {
        gap: 20px;
        margin-top: 70px;
    }

}

@media (max-width: 500px) {
    .products__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }

    .products__card {
        width: 100%;
        max-width: 390px;
    }

    .products__wrap {
        gap: 20px;
        margin-top: 50px;
    }

    .footer__lists {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products__nav {
        gap: 20px;
        height: 60px;
    }

    .footer__list-start {
        margin-bottom: 70px;
    }

    .footer__list-middle {
        margin-bottom: 70px;
    }

}

@media (max-width: 800px) {
    .about__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        grid-auto-rows: auto;
    }

    .about__img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .about__img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 80px 0 10px;
    }

    @media (max-width: 900px) {
        .footer__form-label {
            max-width: 50%;
            width: 50%;
        }

        .footer__fom-input {
            padding: 25px 20px;
            width: 100%;
        }
    }


}

@media (max-width: 470px) {
    .footer {
        padding: 80px 0 10px;
    }

    @media (max-width: 900px) {
        .footer__form-label {
            max-width: 50%;
            width: 50%;
        }

        .footer__fom-input {
            padding: 20px 10px;
            width: 100%;
        }
    }



}